@import "../../global.scss";

.topbar {
    transition: background-color 240ms ease, box-shadow 240ms ease;

    .wrapper {
        min-height: 66px;

        @include mobile {
            min-height: 60px;
        }
    }

    .itemContainer {
        opacity: 0.92;
    }
}