.intro {
    background-color: white;
    display: flex;

    .left{
        flex: 0.4;
        background-color: orangered;
        overflow: hidden;

        .imgContainer{
            width: 1000px;
            height: 1000px;

            img{
                height: 90%;
            }
        }
    }

    .right{
        flex: 0.6;
        position: relative;
        background-color: rgb(255, 123, 0);

        .wrapper{
            height: 90%;
            width: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 60px;
                margin: 10px 0;
                color: azure;
            }
            h2{
                font-size: 35px;
                color: azure;
            }
            h3{
                font-size: 30px;
                color: azure;
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 50%;

            img{
                width: 30px;
            }
        }
    }
}